header{
    height: 120px;
    background-color: rgb(4, 36, 46);
    display: flex;
    align-items: center;
}


body{
    background-color: rgb(2, 24, 33);
    color: white;
    margin: 0;
}


footer{
    height: 120px;
    background-color: rgb(4, 36, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    text-align: center;
}


.mainsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.helperdiv{
    width: 85vw;
}


.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.303);
    display: flex;
    justify-content: center;
    align-items: center;
}


.d_none {
    display: none;
}


.maindiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}


.bookPreview {
    object-fit: cover;
    height: 400px;
    width: 300px;
    border: 2px solid rgb(170, 183, 189);
    border-radius: 8px;   
    filter: brightness(60%);
    margin-bottom: 16px;
}


.imgBookPreview{
    object-fit: cover;
    height: 120px;
    width: 90px;
    border: 2px solid rgb(10, 50, 69);
    border-radius: 8px;   
    filter: brightness(60%);
}