a {
    color: antiquewhite;
    text-decoration: none;
    
}


h1 {
    text-align: center;
    font-size: 32px;
}


h2 {
    font-size: 24px;
}


h3 {
    font-size: 20px;
}

p {
    font-size: 16px;
}


input {
    width: 400px;
}


a:hover {
    color: green;
    cursor: pointer;
    text-decoration: underline;
}


header{
    height: 120px;
    background-color: rgb(4, 36, 46);
    display: flex;
    align-items: center;
}


body{
    background-color: rgb(2, 24, 33);
    color: white;
    margin: 0;
}


footer{
    height: 120px;
    background-color: rgb(4, 36, 46);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainsection{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.helperdiv{
    width: 85vw;
}


.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.303);
    display: flex;
    justify-content: center;
    align-items: center;
}


.d_none {
    display: none;
}


.maindiv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}


.bookPreview {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
    max-width: 1000px;
    border: 2px solid rgb(170, 183, 189);
    border-radius: 8px;   
    filter: brightness(60%);
    margin-bottom: 16px;
}


.imgBookPreview{
    object-fit: cover;
    height: 200px;
    width: 132px;
    border: 2px solid rgb(10, 50, 69);
    border-radius: 8px;   
    filter: brightness(60%);
    margin: 8px;
}



.bookDescription {
    width: 600px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 8px;
}

.bookDescriptionButton{
    margin: 8px;
}


.commentBookContainer {
    max-height: 60px;
    width: 580px;
    overflow-y: auto;
    border-radius: 8px;
}


.commentBook {
    display: flex;
}


.icons8 {
    font-size: 8px;
    color: rgb(10, 50, 69);
}


.buttonDiv {
    display: flex;
    align-items: center;
}


.imgDescriptionButton {
    width: 32px;
    height: 32px;
    margin: 8px;
}


.imgDescriptionButton:hover {
    cursor: pointer;
}


.buyButton {
    width: 64px;
    height: 64px;
    margin: 8px;
}


.buyButton:hover {
    cursor: pointer;
}


.commentFailDiv {
    color: red;
}


.inputSection {
    display: flex;
}


@media (max-width: 1000px){

    h1 {
        font-size: 28px;
    }
    
    
    h2 {
        font-size: 20px;
    }
    
    
    h3 {
        font-size: 16px;
    }
    
    p {
        font-size: 12px;
}


input {
    width: 280px;
}


.bookDescription {
    width: 450px;
}


.commentBookContainer {
    width: 430px;
}
}

@media (max-width: 750px){

    h1 {
        font-size: 24px;
    }
    
    
    h2 {
        font-size: 16px;
    }
    
    
    h3 {
        font-size: 12px;
    }
    
    p {
        font-size: 8px;
}


input {
    width: 200px;
}


.bookDescription {
    width: 350px;
}


.commentBookContainer {
    width: 330px;
}


.imgDescriptionButton {
    width: 24px;
    height: 24px;
}
}


